#root {
    background-color:honeydew;
    color:black;
    box-sizing: border-box;
}

#pledge-button {
    font-size: 30px;
    background-color: teal;

}

.single-project{


}

.title {
    font-size: 30pt;
    font-weight: bolder;
    color:#ca4502;
    background-color: cadetblue;
    padding: 30px;
    text-align: center;
}
.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    background-color: darkseagreen;
    height: 100px;

}
.date{
    display: flex;
    font-size: 15pt;
    float: left;
    width: 40%;
    height: 100px;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}

#pledge{
    display: flex;
    font-size: 15pt;
    color:teal;
    float:right;
    width: 60%;
    height: 100px;
    background-color:darkgrey;
    justify-content: center;
    align-items: center;
}

.story {

}
.category{

}
.faq{

}
.updates{

}
.funded{

}

.goal {

}