.waitlist-container {
  margin: auto;
  padding: 20px;
  text-align: center;
  color: #070606;
  background-color: white;
}

.waitlist-container h1 {
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.waitlist-signup {
  font-size: 15pt;
  color: darkseagreen;
}

.waitlist-container p {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.waitlist-form {
  display: flex;
  flex-direction: row; /* Align Email and button in a row */
  justify-content: center; /* Center the email and button as agroup horizontally */
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 80%;
}

input[type="email"],
.waitlist-form select,
.waitlist-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; 
  height: 50px; 
  box-sizing: border-box; 
}

input[type="email"] {
  width: 30%;
  border: 1px solid black;
}

.waitlist-form select {
  width: 25%;
  cursor: pointer;
}

.waitlist-button {
  background-color: #655bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10%;
}

.waitlist-form input {
  border: 1px solid black;
  width: 30%;
}

.waitlist-button:hover {
  background-color: #d698f1;
}


