.all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  flex-grow: 1; 
}

.project-preview {
  height: auto;
  width: 30%;
  min-width:300px;
  background-color: white;
  border-radius: 10px;
  padding:10px;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;;
}

.project-preview img {
  width: 100%;
  height: auto;
}

.project-preview:hover {
  border: 2px solid #5689ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.goal-main {
  color:midnightblue;
  font-size: x-large;
  font-weight: bold;
}

.funded-main {
  color:#013201;
  font-size: x-large;
  font-weight: bold;
}

.title-main {
  font-size: large;
  font-weight: bolder;
  color:black;
  text-align: left;
  margin-left: 10pt;
}

.subtitle-main {
  font-size:medium;
  color: grey;
  text-align: left;
  margin-left: 10pt;
}

.project-detail-button-main {
  size: small;
  background-color: grey;
}

.transactions-table {
  margin: auto;
  padding: 10px;
}

th {
  background-color: lightgray;
  padding: 20px;  
  border: 1px solid #3a4eb5;
}
td {
  padding: 10px;
  border: 1px solid #3a4eb5;
  border-collapse: collapse;
}

