*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100vw; 
  min-height: 100vh; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
}

.all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  flex-grow: 1; 
}

.project-preview {
  height: 500px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}

.goal-main {
  color:midnightblue;
  font-size: x-large;
  font-weight: bold;
}

.funded-main {
  color:#013201;
  font-size: x-large;
  font-weight: bold;
}

.title-main {
  font-size: large;
  font-weight: bolder;
  color:black;
  text-align: left;
  margin-left: 10pt;
}

.subtitle-main {
  font-size:medium;
  color: grey;
  text-align: left;
  margin-left: 10pt;
}

.project-detail-button-main {
  size: small;
  background-color: grey;
}
