/* #new-project-form {
    width: 1000px;
}

h1 {
    padding: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: transparent;
    border-color: teal;
    border-width: 2pt;
    border-style: solid;
}

input::placeholder {
    
}

.label, .label-number, .label-date {
    display: block;
    text-align: left;
    margin: auto;
    font-size: 15pt;
    width: 80%;
}

.label-number, .label-date {
    width: 400px;
    margin-left: 10%;
}

#category {
    font-size: 12pt;
    display: block;
    margin-left: 10%;
    background-color: teal;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
}

.button {
    background-color: darkslateblue;
    font-size: 16pt;
    margin: 10px;
} */